@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');

:root{
    --header-height: 3.5rem;

    /* colors */

    --hue: 180;

    --first-color: hsl(var(--hue), 80%, 48%);
    --first-color-alt: hsl(var(--hue),80%, 40%);
    --white-color: hsl(var(--hue),8%, 92%);
    --black-color: hsl(var(--hue), 4%, 8%);
    --gray-color: hsl(var(--hue), 4%, 50%);
    --body-color: hsl(var(--hue),8%, 8%);
    --container-color: hsl(var(--hue),8%, 12%);

/* fonts and typography */
    --body-font: Vazirmatn, sans-serif;
    --bigger-font-size: 2.2rem;
    --h1-font-size: 1.7rem;
    --h2-font-size: 1.45rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

/* font weight */

    --font-light: 300;
    --font-regular:400;
    --font-medium: 500;
    --font-semi-bold: 600;

/* z index */
--z-tooltip: 10;
--z-fixed: 100;}

/* responsive typography */

    @media screen and (min-width: 1150px) {
        :root{
            --bigger-font-size: 3.2rem;
            --h1-font-size: 2.45rem;
            --h2-font-size: 1.7rem;
            --h3-font-size: 1.45rem;
            --normal-font-size: 1.2rem;
            --small-font-size: 1rem;
        }
    }
    /* base */

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
/* html */
html{ 
    scroll-behavior: smooth;
}
body,
button,
input,
textarea {
    font: var(--font-light) var(--normal-font-size) var(--body-font);
}
body{
    background-color: var(--body-color);
    color: var(--white-color);
}
/* reset for button */
button{
    outline: none;
    border: none;
}
h1, h2, h3, h4{
    font-weight: var(--font-semi-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Images */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* classes */

.container{
    max-width: 1220px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 5rem 1rem;
}
.section__title{
    text-align: center;
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: 1.5rem;
}
.main{
    overflow: hidden;
}
/* header */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition:all 0.4s;
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
}
.nav__logo:hover{
    color: var(--first-color);
}
.nav__close,
.nav__toggel{
font-size: 1.5em;
cursor: pointer;

}
@media screen and (max-width: 1150px){
    .nav__menu{
        position: fixed;
        top: 120%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        box-shadow: 0 8px 16px hsl(0, 0, 0, 0.5);
        padding-block: 5rem 4rem;
        border-radius: 0 0 1.5rem 1.5,rem;
        transition: top 0.4s;
    }
}
.nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    
}
.nav__link{
    position: relative;
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: all 0.4s;
}
.nav__link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -0.5rem;
    transition: all 0.4s;
    background-color: var(--first-color);
}
.nav__link:hover{
    color: var(--first-color);
}
.nav__link:hover::after{
    width: 60%;
}
.nav__close{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.show-menu{
    top: 0;
}
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

.nav__toggel,
.nav__close{
    display: none;
}
.nav__list{
    flex-direction: row;
    column-gap: 4rem;
}}